php_value memory_limit 128M
RewriteEngine on
ErrorDocument 404 /pryingnet/error.php

RewriteRule ^anasayfa index.php [L,NC]
RewriteRule ^spor spor.php [L,NC]
RewriteRule ^astroloji astroloji.php [L,NC]
RewriteRule ^iletisim iletisim.php [L,NC]
RewriteRule ^sondakika anasayfa_sondakika.php [L,NC]
RewriteRule ^sporhaberleri spor_haberleri.php [L,NC]
RewriteRule ^sporslider spor_slider.php [L,NC]
RewriteRule ^gundem-([0-9a-zA-Z-_]+)-([0-9]+)$ icerik.php?sef=$1&icerik_id=$2 [L,QSA]
RewriteRule ^haber-([0-9a-zA-Z-_]+)-([0-9]+)$ icerikspor.php?sef=$1&icerik_id=$2 [L,QSA]
RewriteRule ^onemli-([0-9a-zA-Z-_]+)-([0-9]+)$ icerik_spslide.php?sef=$1&slider_id=$2 [L,QSA]
RewriteRule ^astro-([0-9a-zA-Z-_]+)-([0-9]+)$ icerik_astro.php?sef=$1&swiper_id=$2 [L,QSA]
RewriteRule ^magazin-([0-9a-zA-Z-_]+)-([0-9]+)$ icerik_magazin.php?sef=$1&slider_id=$2 [L,QSA]
RewriteRule ^schedule-([0-9a-zA-Z-_]+)-([0-9]+)$ icerik_schedule.php?sef=$1&schedule_id=$2 [L,QSA]
RewriteRule ^yenihaberler-([0-9a-zA-Z-_]+)-([0-9]+)$ yenihaberler.php?sef=$1&yenihaber_id=$2 [L,QSA]










